.error-msg{
    color:red
}

.dz-image img {
    max-width: 100%;
    max-height: 100%;
    width: 120px;
    height:  120px;
}
.dropzone .dz-preview.dz-file-preview .dz-details {
    opacity: 1;
}

.margin15{
    margin-left:15px ;
    margin-right:15px ;
}
.width80{
    max-width: 80% !important;
   }
@media print {
    .no-print {
        display: none !important;
    }

    .content-wrapper{
        padding-top: 0px !important;
    }
    body.fixed-navbar{
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
    .content{
        margin-left: 0px !important;
        margin-top: 0px !important;
    }
}

.logo-width{
    width: 100px;
}

.bottom0{
    bottom: 0px !important;
}

.width200{
    width: 200px;
    margin: 10px;
}

.error-border{
    border-color: red !important;
}
.bas-arabic{
    display: none;
}

.add-border{
    padding: 15px;
    border: 1px solid #cacfe7;
    margin-top: 15px;
}

.pad-left{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 15px;
}

.img-width{
    width: 200px;
}

.margin1020{
    margin: 10px 2px;
}

.onadd{
    display: none;
}

 .cke_notifications_area { display: none; }

 .m-15{
     margin: 15px;
 }

.white{
    color:white
}
.style-images {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; /* Optional: Adjust icon size */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for better visibility */
}

.style1 {
    position: relative;
    display: inline-block;
}
.style2 {
    display: block;
}
.unreplied-row {
    background-color: #e0e0e0 !important;
    color: #6B6F82 !important;
}
.reply-container {
    display: flex;
    justify-content: flex-start;
}

.iconStyle {
    font-size: 20px;
}


.font-bold{
    font-weight: 600;
}


.select2-container{
    width: 100% !important;
}


.display-none{
    display: none;
}

.pl-15{
    padding-left: 15px;
}

.permissionblock {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
}

