
.timeline2 {
    position: relative;
    margin: 50px auto;
    width: 1000px;
    padding: 50px 0;
}

.timeline2:before {
    content: '';
    position: absolute;
    height: 100%;
    left: 50%;
    width: 2px;
    top: -20px;
    background:#089bab;
    z-index: 1;
}

.timeline2 ul {
    margin: 0;
    padding: 0;
}

.timeline2 ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 40px 30px;
    box-sizing: border-box;
    line-height: normal;
}

.timeline2 ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline2 ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.timeline2 ul li .right_content h2 {
    color: #089bab;
    padding: 0px 2px 0px 0px;
}

.timeline2 ul li:nth-child(odd):before,
.timeline2 ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #089bab;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #089bab;
    top: 24px;
    z-index: 1;
}

.timeline2 ul li:nth-child(odd):before {
    right: -6px;
}

.timeline2 ul li:nth-child(even):before {
    left: -6px;
}

.timeline2 ul li:nth-child(odd) .left_content,
.timeline2 ul li:nth-child(even) .left_content {
    position: absolute;
    top: 12px;
    margin: 0;
    padding: 8px 16px;
    color: #000;
    box-shadow: 0 0 0 3px #089bab;
    border-radius: 18px;
}

.timeline2 ul li:nth-child(odd) .left_content {
    right: -140px;
}

.timeline2 ul li:nth-child(even) .left_content {
    left: -140px;
}

.note-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */

}

.note-text {
    flex: 1;
    min-width: 250px;
    color: #000;
    text-align: justify;
}

.note-image img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 15px;
    background-color: white;
    object-fit: contain;
}

.patient-name {
    margin-bottom: 10px;
}

.left_content h3{
    font-size: 15px;
    margin-bottom: 0px !important;
}

@media (max-width: 1000px) {
    .timeline2 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .timeline2:before {
        left: 20px;
    }

    .timeline2 ul li {
        width: 100%;
        text-align: left;
        padding-left: 50px;
    }

    .timeline2 ul li:before {
        top: -18px;
        left: 16px;
    }

    .timeline2 ul li .left_content {
        top: -30px;
        left: 50px;
        right: inherit;
    }
    .note-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .edit-link {
        color: #f0ad4e; /* Adjust color as needed */
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
    }

    .edit-link:hover {
        text-decoration: underline;
    }



}

